@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #12121212;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #12121212;
    border-radius: 100px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
textarea{
    resize: none;
}

.stick{
    position: sticky;
    top: 0;
}

.ant-modal-content { 
    background-color: #121212!important;
}
.ant-modal-title { 
    background-color: #121212!important;
    color: #c4c4c4!important;
}
.ant-btn{
    color: #ffffff;
}
.ant-btn-primary{
    border-color: #c4c4c4!important;
}
.ant-modal-close{
    background: #c4c4c4!important;
    border-radius: 100%!important;
    visibility: hidden;
}

.ant-upload{
    color: #c4c4c4;
    border-style: solid!important ;
}
.ant-modal-title{
    font-size: small!important;
    text-align: center;
    width: 100%;
}
.ant-modal-footer{
    display: flex;
    justify-content: center;
}

.img-crop-control{
    color: #c4c4c4!important;
}
/* 
.ant-upload-list-item-container{
    margin: auto;
    width: 100%!important;
    height: 300px!important;
} */
/* .ant-upload-list-item{
    height: 200px!important;
} */
/* .ant-upload{
    margin: auto;
    width: 100%!important;
} */

/* .ant-upload-list-item{
    inset: 100px;
} */
/* .ant-tooltip-open{
    visibility: collapse;
} */
/* .ant-upload-list-item-container{
    width: 550px!important;
    height: fit-content!important;
} */
/* .ant-upload-list-item-error{
    border-color: #c4c4c4!important;
} */

.ant-form-item{
    width :20rem;
}
.ant-form-item-label{
    font-weight: 500;
}